<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>用户--后台管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__PUBLIC__/css/font_eolqem241z66flxr.css" media="all" />
	<link rel="stylesheet" href="__PUBLIC__/css/user.css" media="all" />
	<style type="text/css">
		.page .current,.page a,.page a:hover,.page span{display:inline-block;margin-right:2px;padding:0 10px;height:25px;line-height:25px;vertical-align:middle}  
		.page a,.page span{color:#404548;border:1px solid #D7DBDC;background-color:#F6FFFF}  
		.page .current,.page a:hover{text-decoration:none;color:#FFF;background-color:#337ab7;vertical-align:middle}  
		.page .next,.page .prev{font-family:"宋体"}  
				
	</style>
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
              <div class="layui-inline">
	
		    <a class="layui-btn search_btn" href="/index.php/QM_Admin_1216/Mgt/sfklist">个人客户</a>
		</div>
               <div class="layui-inline">
	
		    <a class="layui-btn search_btn" href="/index.php/QM_Admin_1216/Mgt/gr_kehu">单位客户</a>
		</div>


    

	</blockquote>
    <div class="layui-inline">
		    <div class="layui-input-inline">
		    	<input type="text"id="name" placeholder="输入乘客姓名" class="layui-input search_input">
              <input type="text" id="cptime"  placeholder="出票时间" class="layui-input search_input">
                            <input type="text" id="jztime"  placeholder="截止时间" class="layui-input search_input">


		    </div>
		      <a id="xc" class="layui-btn search_btn">查询个人客户</a>
		</div>
	<div class="layui-form news_list">
	<div class="layui-form news_list">
	  	<table class="layui-table">

		    <thead>
				<tr>
					
					<th>选择</th>
					<th>出票日期</th>
					<th>乘客姓名</th>
					<th>票号</th>
					<th>行程</th>
                	<th>应收金额</th>
                    <th>应收余额</th>
                    <th>本次核销</th>
                      <th>详情</th>
                  
				</tr> 
		    </thead>
		    <tbody class="users_content">
		<!--<volist name="data" id="row">
					<tr>
						<td>{$row['id']}</td>
						<td>{$row['cptime']|date="Y-m-d h:i:s",###}</td>
						<td>{$row['ckxm']}</td>

                        <td>{$row['jph']}</td>
                        <td>{$row['xc']}</td>
                       <td>{$row['fkje']}</td>
                       <td>{$row['jph']}</td>
                  
                          <td><a href="__MODULE__/Mgt/eidt_kh/id/{$row['id']}">修改</a>|<a href="javascript:void(0);" class="del" id="{$row['id']}">删除</a></td>
					</tr>
				</volist>
-->

		    </tbody>
		</table>
      
	</div>
      <body>

	<center><div id="asds" class="result page">{$pageinfo}</div></center> <br />
	<center><div id="asdss" class="result page"></div></center> <br />

	<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/zooming.js"></script>

	<script type="text/javascript">
	
		$("#xc").click(function(){
			$("#asds").hide();

	     $(".layui-table tr:gt(0)").each(function(){
         $(this).remove();
          $("#lei").remove();
          })
			var name=$("#name").val();
          	var cptime=$("#cptime").val();
            var jztime=$("#jztime").val();

         

         
 
			$.post("{:U('Mgt/yhnkf')}",{name:name,cptime:cptime,jztime:jztime},function(data){

				var ha=$.parseJSON(data);
  	            $.each(ha,function(key,value){

				tr="<tr>";
					tr+='<td><input type="checkbox" onclick="chk('+value.id+')"  /></td>';
					tr+="<td>"+value.cptime+"</td>";
					tr+="<td>"+value.ckxm+"</td>";
                    tr+="<td>"+value.jph+"</td>";
                    tr+="<td>"+value.xc+"</td>";
                    tr+="<td>"+value.ysk+"</td>";
                    tr+='<td id="ye_'+value.id+'" >'+value.ysye+'</td>';
					tr+='<td ><input  type="hidden" style="height: 30px;" id="num_'+value.id+'" value="" onblur="outs('+value.id+')"></td>';
                  	tr+='<td><a href="javascript:void(0);"  id="'+value.id+' " onclick="pint('+value.id+')">打印详情</a></td>';
					tr+='</tr>';
                    $(".layui-table").append(tr);
                    $("#asdss").html(value.page);
  	   })
	})
})
      
      	$(".del").click(function(){
			var id = $(this).attr('id');
			var ob = $(this);
			if(confirm('确定删除此用户？')){
				$.post("{:U('Mgt/delkh')}",{id:id},function(data){
					if(data==1){
						ob.parents('tr').remove();
					}
				})
			}
		})
      
      function pint(){
        alert(1)
      
      print();
      }
      
 function chk(id){
       var num=	'num_'+id;
       var type=  $("#"+num+"").attr("type");
       if(type=="hidden"){
          $("#"+num+"").attr('type','text');
        }else{
         $("#"+num+"").attr('type','hidden');
        }
      }
      function asd(id){
			if(confirm('确认付款？')){
				$.post("{:U('Mgt/savefkstat')}",{id:id},function(data){
					if(data==1){
                     alert(操作成功);
					}else{
                     alert(网络请求失败);
             }
		  })
		}
      }
   function outs(id){

          
       var ye='ye_'+id;
       var yes= $("#"+ye+"").html();
        //输入的data
         var num='num_'+id;
         var nums= $("#"+num+"").val();
         if(confirm('确认本次核销吗？')){
 $.post('__MODULE__/mgt/save_val',{id:id,yes:yes,nums:nums},function(data){
       
        if(data.code==1){
         var num='ye_'+data.id;
         $("#"+num+"").html(data.data);
         }else if(data==3){
          alert("您输入的值大于本次核销值！");
         }else{
          alert("网络连接失败！稍后再试");
         }
      })
    }
  }
	</script>
</body>
</html>

