<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>用户--后台管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__PUBLIC__/css/font_eolqem241z66flxr.css" media="all" />
	<link rel="stylesheet" href="__PUBLIC__/css/user.css" media="all" />
	<style type="text/css">
		.page .current,.page a,.page a:hover,.page span{display:inline-block;margin-right:2px;padding:0 10px;height:25px;line-height:25px;vertical-align:middle}  
		.page a,.page span{color:#404548;border:1px solid #D7DBDC;background-color:#F6FFFF}  
		.page .current,.page a:hover{text-decoration:none;color:#FFF;background-color:#337ab7;vertical-align:middle}  
		.page .next,.page .prev{font-family:"宋体"}  
				
	</style>
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
              <div class="layui-inline">
		    <a class="layui-btn search_btn" href="/index.php/JRapp/Mgt/dkzxsp">按歇房</a>
		</div>
                <div class="layui-inline">
		    <a class="layui-btn search_btn" href="/index.php/JRapp/Mgt/dkzxdk">打卡公积金</a>
		</div>
              <div class="layui-inline">
		    <a class="layui-btn search_btn" href="/index.php/JRapp/Mgt/dkzxbd">保单</a>
		</div>
      
      
	</blockquote>
  
	<div class="layui-form news_list">
	  	<table class="layui-table">

		    <thead>
				<tr>
					
					<th>ID</th>
                <th>推荐人姓名</th>
                        <th>推荐人手机号</th>
                        <th>所需佣金</th>
					<th>身份证正</th>
                    <th>身份证反</th>


					<th>征信</th>
					<th>公积金账号</th>
                  	<th>公积金密码</th>
                    <th>添加时间</th>
					<th>填写额度</th>
                  <th>操作</th>
				</tr> 
		    </thead>
		    <tbody class="users_content">
		    	<volist name="data" id="row">
					<tr>
						<td>{$row['dkid']}</td>
                      
                      
                                           <td>{$row['tjname']}</td>
                      <td>{$row['tjphone']}</td>
                      <td>{$row['sxyj']}</td>
         
                      <td> <a href="http://dai.juhuaian.cn/Public/{$row['sfz']}"  target="_blank"> <img  src="http://dai.juhuaian.cn/Public/{$row['sfz']}"    width="50" height="50"></a></td>
                      <td> <a href="http://dai.juhuaian.cn/Public/{$row['sfzf']}" target="_blank"> <img  src="http://dai.juhuaian.cn/Public/{$row['sfzf']}"   width="50" height="50"></a></td>


                      <td> <a href="http://dai.juhuaian.cn/Public/{$row['zxs']|substr=3,-1}"  target="_blank"> <img  src="http://dai.juhuaian.cn/Public/{$row['zxs']|substr=3,-1}"     width="50" height="50"></a>&nbsp;<a href="__MODULE__/Mgt/zzxxq/id/{$row['dkid']}">详情</a></td>
               <td>{$row['gjzh']}</td>
               <td>{$row['gjma']}</td>
                      <td>{$row['addtime']}</td>
                      
           
       
               
                      <td>   <if condition="$row['stats'] eq 1  "> 
                      <font color="green">审批额度为{$row['sped']}</font>
                        <else /> 
                    <input type="text" class="ed{$row['id']}" style="height:30px" >
                        </if>
                        
                      </td>  
                      
                      
                   	<td>  
                      <if condition="$row['stats'] eq 1  "> 
                      <font color="green">已审批</font>
                        <else /> 
                        
                        <input type="hidden" class="{$row['dkid']}" id="aa">
                      <a href="javascript:void(0);" class="del" onclick="del({$row['id']},{$row['dkid']})">确认</a>
                        </if></td> 
					</tr>
				</volist>
		    </tbody>
		</table>
	</div>

	<center><div id="asds" class="result page">{$pageinfo}</div></center> <br />
	<center><div id="asdss" class="result page"></div></center> <br />

	<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/zooming.js"></script>

	<script type="text/javascript">
	function del(id,axfid){
  //alert(id);


          	var ed = $(".ed"+id).val();
   
          if(!ed){
            alert("请输入您需要审批的额度！");
            return;
             }
			if(confirm('确定审批？')){
				$.post("{:U('Mgt/dksp')}",{id:id,ed:ed,axfid:axfid},function(data){
					if(data==1){
                            alert("审批成功！")
						window.location.reload()
					}else{
                    alert("网路错误！")
                    }
				})
			}
        }
		$(".search_btn").click(function(){
			$("#asds").hide();

	     $(".layui-table tr:gt(0)").each(function(){
         $(this).remove();
          $("#lei").remove();
          })
			var so=$(".search_input").val();
			$.get("{:U('Mgt/sodel')}",{so:so},function(data){

				var ha=$.parseJSON(data);
  	            $.each(ha,function(key,value){

  
					tr="<tr>";
					tr+="<td>"+value.id+"</td>";
					tr+="<td>"+value.username+"</td>";
					tr+="<td>"+value.phone+"</td>";
					tr+="<td><img src='http://115.159.114.168/"+value.pic+"' width='80' height='80'></td>";
			
					tr+="<td>"+value.addtime+"</td>";
					tr+="<td>"+value.yue+"</td>";
					tr+='<td><a href="javascript:void(0);" class="del" id="'+value.id+'">删除</a></td>';
					tr+='</tr>';
        $(".layui-table").append(tr);

  	
  		$("#asdss").html(value.page);

  	})

  	     
  	
			})
		})
	</script>
</body>
</html>