<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>用户--后台管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__PUBLIC__/css/font_eolqem241z66flxr.css" media="all" />
	<link rel="stylesheet" href="__PUBLIC__/css/user.css" media="all" />
	<style type="text/css">
		.page .current,.page a,.page a:hover,.page span{display:inline-block;margin-right:2px;padding:0 10px;height:25px;line-height:25px;vertical-align:middle}  
		.page a,.page span{color:#404548;border:1px solid #D7DBDC;background-color:#F6FFFF}  
		.page .current,.page a:hover{text-decoration:none;color:#FFF;background-color:#337ab7;vertical-align:middle}  
		.page .next,.page .prev{font-family:"宋体"}  
		@media screen and (max-width: 600px) {
  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}		
	</style>
</head>
<body class="childrenBody">

	<div class="layui-form news_list">
	  	<table class="layui-table">
		    <colgroup>

		    </colgroup>
		    <thead>
				<tr>
					
	            	<th>id</th>
                  <th>自定义排序</th>
					<th>户籍城市</th>
					<th>手机号</th>
                    <th>月收入</th>
                    <th>房产情况</th>
                    <th>车产情况</th>
                     <th>总负债</th>
                    <th>信用情况</th>
					<th>添加时间</th>
					
                    <th>选择评分</th>
                  
                       <th>通过</th>
                   <th>驳回</th>
                  <th>操作</th>
        
				</tr> 
		    </thead>
		    <tbody class="users_content">
		    	<volist name="data" id="row">
					<tr id="{$row['id']}">
                      <td>{$row['id']}</td>
                    <td><input type="number" id="pxs_{$row['id']}" value="{$row['nums']}" onBlur="px({$row['id']})" style="width:50%; "/></td>
					<td>{$row['hjcs']}</td>
					<td>{$row['sjh']}</td>
                    <td>{$row['ysr']}</td>
				    <td>{$row['fcqk']}</td>
                    <td>{$row['ccqk']}</td>
                    <td>{$row['zfz']}</td>
				    <td>{$row['xyqk']}</td>
               	    <td>{$row['addtime']}</td>
                      
                      <td>   <if condition="$row['stat'] eq 1  "> 
                      <font color="green">{$row['xtpf']}</font>
                        <else /> 
                        <select id="pf" >
                          <option value="A">A</option>
                          <option value="B">B</option>
                          <option value="C">C</option>
                        </select>
             <a href="javascript:void(0);" class="del" id="{$row['id']}">确认</a>
                        </if>
                        
                      </td> 
                       
                          <td><if condition="$row['shzt'] eq 0 ">
                            <a href="javascript:void(0);" class="delss" id="{$row['id']}">通过审核</a>
                            <else /> 
                            <a href="javascript:void(0);"><font color="green">已过审核</font></a>
                            </if>
                        </td>
                        <td>
                          <if condition="$row['shzt'] eq 1 ">
                          <a href="javascript:void(0);" ><font color="grey">驳回</font></a>
                            <else /> 
                           <a href="javascript:void(0);" class="bhaa" id="{$row['id']}">驳回</a>
                            </if>
                          
                          </td>
				      <td><a href="__MODULE__/Mgt/xqqd/id/{$row['id']}" >详情</a></td>
                      
					</tr>
				</volist>
		    </tbody>
		</table>
	</div>

	<center><div id="asds" class="result page">{$pageinfo}</div></center> <br />
	<center><div id="asdss" class="result page"></div></center> <br />

	<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/zooming.js"></script>

	<script type="text/javascript">
      

		$(".delss").click(function(){
			var id = $(this).attr('id');
			var ob = $(this);
			if(confirm('确定通过审核？')){
				$.post("{:U('Mgt/qdshs')}",{id:id},function(data){
					if(data==1){
					window.location.reload();
                    }else{
                   alert("未知错误！");
                    }
				})
			}
		})
      
      	$(".bhaa").click(function(){
			var id = $(this).attr('id');
			var ob = $(this);
			if(confirm('确定驳回？')){
				$.post("{:U('Mgt/qdshd')}",{id:id},function(data){
					if(data==1){
                       alert("已驳回！");
					window.location.reload();
                    }else{
                   alert("未知错误！");
                    }
				})
			}
		})
			$(".del").click(function(){
			var id = $(this).attr('id');
          	var pf = $("#pf").val();
			if(confirm('确定审批？')){
				$.post("{:U('Mgt/pf')}",{id:id,pf:pf},function(data){
					if(data==1){
                            alert("评分成功！")
						window.location.reload()
					}else{
                    alert("网路错误！")
                    }
				})
			}
		})
          function px(ids){
     
     var num = $("#pxs_"+ids).val();
    $.post("{:U('Mgt/pxpd')}",{num:num,ids:ids},function(data){
					if(data==1){
				         alert("操作成功");
					}else if(data==3){
                    alert("输入值重复");
                    }else{
                    alert("网络出问题了。。。")
                    }
				})
      }
      	$(".bh").click(function(){
			var id = $(this).attr('id');
			var ob = $(this);
			if(confirm('确定驳回？')){
				$.post("{:U('Mgt/qcbh')}",{id:id},function(data){
					if(data==1){
                       alert("已驳回！");
					window.location.reload();
                    }else{
                   alert("未知错误！");
                    }
				})
			}
		})
		$(".search_btn").click(function(){
			$("#asds").hide();
	     $(".layui-table tr:gt(0)").each(function(){
         $(this).remove();
          $("#lei").remove();
          })
			var so=$(".search_input").val();
			$.get("{:U('Mgt/sodel')}",{so:so},function(data){

				var ha=$.parseJSON(data);
  	            $.each(ha,function(key,value){

  
					tr="<tr>";
					tr+="<td>"+value.id+"</td>";
					tr+="<td>"+value.username+"</td>";
					tr+="<td>"+value.phone+"</td>";
					tr+="<td><img src='http://115.159.114.168/"+value.pic+"' width='80' height='80'></td>";
			
					tr+="<td>"+value.addtime+"</td>";
					tr+="<td>"+value.yue+"</td>";
					tr+='<td><a href="javascript:void(0);" class="del" id="'+value.id+'">删除</a></td>';
					tr+='</tr>';
        $(".layui-table").append(tr);

  	
  		$("#asdss").html(value.page);

  	})

  	     
  	
			})
		})
	</script>
</body>
</html>